<header style=" position: absolute; right: 10%; top: 3rem;">
    <div class="logout" (click)="logout()">Logout</div>
</header>
<div class="gradientBackground">
    <div class=" form col-lg-5 col-md-7 col-10 ">
        <div class="row d-flex justify-content-center p-3 ">
            <table class="mb-4">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                <tr *ngFor="let student of getStudentForCurrentPage()" (click)="studentSelected(student.id)" style="cursor: pointer;">
                    <td>
                        {{student.first_name}}
                    </td>
                    <td>{{student.last_name}}</td>
                </tr>
            </table>

            <nav aria-label="Page navigation example" class="col-lg-11 mb-4">
                <ul class="pagination m-auto" style="width: fit-content;">
                    <li class="page-item" *ngFor='let page of pages;let i=index' (click)='currentPage=i' [ngClass]="{'active':i==currentPage}">
                        <a class=" page-link ">{{page}}</a>
                    </li>
                </ul>
            </nav>


            <label for="studentNumber ">How many student you want to show per page</label>
            <input id="studentNumber" class="ml-2 " type="number " [value]='sizeOfPage' (change)='pagenationFun($event.target.value)'>
        </div>
    </div>
</div>