$lightBackground: rgb(37, 66, 95);
$darkBackground: #17304a;
$buttonColor: #bd004b;
body {
    margin: 0;
    height: 100%;
}

.image {
    // background-color: $darkBackground;
    background-image: url("../../assets/photo-1517673132405-a56a62b18caf.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

.gradientBackground {
    position: absolute;
    top: 0;
    height: 100%;
    height: 100vh;
    z-index: -1;
    background-image: -webkit-linear-gradient( top, rgba(23, 48, 74, 0.7) 38%, rgba(23, 48, 74, 1) 80%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        color: white;
        width: 30%;
        height: 60%;
        position: relative;
        background-color: rgba(32, 69, 97, 0.3);
        border-radius: 0.6rem;
        .cursorPointer {
            cursor: pointer;
        }
        .btn {
            width: 90%;
            height: 100%;
            background-color: $buttonColor;
            border: none;
            color: white;
            outline: none;
        }
        .header {
            text-align: center;
            margin: 1.8rem;
            font-size: 1.7rem;
            letter-spacing: 0.84px;
        }
         ::placeholder {
            font-size: 12px;
            letter-spacing: 0.84px;
            color: #b8c3cb;
        }
        label {
            margin-left: 8%;
            line-height: 1.2;
        }
        input[type="checkbox"] {
            display: none;
        }
        label::before {
            content: "✔";
            width: 20px;
            height: 20px;
            position: absolute;
            left: 5%;
            transform: scale(0) rotateZ(180deg);
            transition: all 0.4s cubic-bezier(0.054, 0.01, 0, 1.49);
        }
        input[type="checkbox"]:checked+label::before {
            transform: scale(1) rotateZ(0deg);
        }
        label::after {
            content: "";
            border: solid 1px #b8c3cb;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            position: absolute;
            left: 5%;
        }
        .forgetPassword {
            margin: 0;
            font-size: 12px;
            letter-spacing: 0.84px;
            color: #b8c3cb;
            text-align: center;
            cursor: pointer;
        }
        .hoveNoAccount {
            font-size: 14px;
            margin: 0;
            font-size: 14px;
            line-height: 3.29;
            color: #b8c3cb;
            text-align: center;
        }
        .signUp {
            color: white;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .gradientBackground .form .checkbox {
        margin-left: 23%;
    }
}

@media (max-width: 768px) {
    .gradientBackground .form {
        width: 50%;
    }
}

@media (max-width: 426px) {
    .gradientBackground .form {
        width: 70%;
    }
}

@media (max-width: 320px) {
    .gradientBackground .form {
        width: 95%;
    }
}